
@{
 Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Sports Store</title>
</head>

<body>
    <div class="text-center m-2">
        <h4>Welcome to SportsStore</h4>  
    </div>
</body>
</html>